<!DOCTYPE html>
<html>

  <% include ../parts/head.ejs %>

  <body>
    <div id="container">
      <div id="nav">
        <% include ../parts/nav.ejs %>
      </div>
      <div id="header">
        <h1>Worker Tasks</h1>
      </div>
      <div id="content">

        <div id="<%=task.title%>" class="taskBrief">
          <img src="/img/dummyLogo.png" class="taskBriefImg">
          <h3><%=task.title%></h3>
          <h5 id="taskCreated"><%=task.taskCreated%></h5>
          <h5 id="taskCreatedBy"><%=task.taskCreatedBy%></h5>
          <p>
            <%=task.taskDescription%>
          </p>
          <div class="demoImgs">
            <img src="/img/dummyTask.png" class="taskDemoImg">
            <img src="/img/dummyEx.png" class="taskDemoImg">
          </div>
          <br>
          <a href="taskView" class="leaveBtn">
            <h3>Leave Task</h3>
          </a>
          <a href="#" class="acceptBtn">
            <h3>Accept Task</h3>
          </a>
        </div>
      </div>
      <div id="footer">

      </div>
    </div>

  </body>

</html>